{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="text-center mb-4">
        <h1 class="display-4">Добро пожаловать на наш сайт!</h1>
        <p class="lead">Здесь мы учимся работать с текстами и создавать крутые Telegram-каналы!</p>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Каналы</h5>
            {% for channel in channels %}
            <p>
                <a href="{% url 'Telega_main:get_channel_prompt' channel.pk %}">
                    {{ channel.title }}
                </a>
            </p>
            {% endfor %}
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Самый первый и самы важный шаг - Выбрать тематику канала</h5>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">📋 Шаг 1: Придумать название и описание</h5>
            <p>Первое, что нужно спросить у GPT:</p>
            <strong>«Ты сильный копирайтер — придумай название и описание для телеграм-канала на тему {тема
                канала}»</strong>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">🚀 Шаг 2: Создать Контент план для канала</h5>
            <p><strong>Название:</strong> {Название канала}</p>
            <p><strong>Описание:</strong> {Описание канала}</p>
            <p>Составь контент-план по рубрикам для 4 постов в день.</p>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">✍️ Шаг 3: Создание контента</h5>
            <p><strong>ТЗ для ChatGPT (копирайтера для Telegram канала):</strong></p>

            <p><strong>Канал:</strong><br>
                Мы ведем Telegram канал "<em>Исторический Блокнот | Факты и тайны прошлого</em>".<br>
                Наш канал предлагает увлекательные факты и истории из разных эпох. Погружайтесь в мир событий, которые
                изменили ход времени, и узнайте больше о нашем тайном прошлом!
            </p>

            <p><strong>О копирайтере:</strong><br>
                Ты — сильный копирайтер с большим опытом работы, за плечами у тебя не один популярный канал. Ты умеешь
                создавать захватывающие и вовлекающие тексты, которые легко читаются и вызывают интерес у аудитории.
            </p>

            <p><strong>Формат поста:</strong></p>
            <ul>
                <li>Каждый пост должен начинаться с жирного заголовка, оформленного с помощью HTML-тегов: <code>&lt;b&gt;Заголовок&lt;/b&gt;</code>.
                </li>
                <li>В тексте использовать эмодзи, чтобы сделать его более привлекательным и интересным.</li>
                <li>Включать интерактив с призывом к обсуждению в комментариях. Текст интерактива должен быть разным для
                    каждого поста, быть зазывающим и мотивировать пользователей к комментированию. Пример интерактива:
                    <em>"💬 Как вы думаете, как выглядели наши предки? Поделитесь своими мыслями в комментариях!
                        👇"</em>.
                </li>
                <li>Интерактив должен быть уникальным для каждого поста.</li>
                <li>Длина поста: максимальная длина поста — 1024 знака.</li>
            </ul>

            <p><strong>Рубрика:</strong><br>
                В конце поста указывать рубрику, в которой он будет опубликован (например, "Рубрика: Тайны прошлого").
                Рубрика указывается не для публикации в посте, а для меня, так что ее ставь после самого поста
            </p>

            <p><strong>Рубрики канала:</strong></p>
            <ul>
                <li><strong>Факты и курьезы истории</strong> — ежедневно, утро</li>
                <li><strong>Тайны прошлого</strong> — ежедневно, день</li>
                <li><strong>Знаковые события в этот день</strong> — ежедневно, вечер</li>
                <li><strong>История одного артефакта</strong> — ежедневно, поздний вечер</li>
            </ul>

            <p><strong>Дополнительные идеи рубрик:</strong></p>
            <ul>
                <li><strong>Исторические личности</strong> — раз в неделю (например, по понедельникам) в 10:00: Посты о
                    великих правителях, изобретателях и деятелях культуры.
                </li>
                <li><strong>Мифы и реальность</strong> — раз в неделю (например, по субботам) в 13:00: Развенчивание
                    мифов и стереотипов, связанных с историей.
                </li>
                <li><strong>Цитаты из прошлого</strong> — раз в неделю (например, по воскресеньям) в 15:00: Мудрые или
                    остроумные высказывания известных людей.
                </li>
            </ul>

            <p><strong>Цель:</strong><br>
                Посты пишутся для Telegram канала "<em>Исторический Блокнот | Факты и тайны прошлого</em>". Канал
                публикует увлекательные факты и истории из разных эпох, и посты должны быть интересными, информативными
                и вовлекающими.
            </p>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">🔍 Шаг 4: Поиск статей в Яндекс.Дзен на основе которых GPT будет генерировать
                посты</h5>
            <p>Иди в <a href="https://dzen.ru/articles" target="_blank">Яндекс.Дзен</a> и ищи по тематике рубрик канала.
            </p>
            <h5 class="card-title">🔍 Шаг 5: Скопировать текст статьи и дать его GPT для переработки, после того как ему
                дано ТЗ из шага 3</h5>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Для заголовка используй тег <code>&lt;b&gt;Заголовок&lt;/b&gt;</code></h5>
            <h5 class="card-title">Чтобы вставить ссылку в пост нужно использовать тег</h5>
            <p> &lt;a href='https://t.me/+ZWkzaBSYkgkxZWNi'&gt;ИСТОРИЧЕСКИЙ БЛОКНОТ&lt;/a&gt; </p>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Пост публикуется при помощи библиотеки aiogram, parse_mode=HTML напиши ссылку с
                тегом</h5>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">✍️ Техническое задание (ТЗ) для копирайтинга текстовых креативов</h5>

            <p><strong>Цель:</strong><br>
                Создание текстовых креативов для привлечения подписчиков в Telegram-канал "<em>Портал во Вчера | Факты и
                    тайны прошлого</em>". Подчеркнуть уникальность контента и его ценность.</p>

            <p><strong>Описание канала:</strong><br>
                Канал предлагает увлекательные и малоизвестные факты и истории из прошлого, которые расширяют кругозор,
                раскрывая тайны и загадки, не упоминающиеся в учебниках.</p>

            <p><strong>Целевая аудитория:</strong></p>
            <ul>
                <li>Люди, интересующиеся историей.</li>
                <li>Те, кто любит необычные факты и исторические загадки.</li>
                <li>Молодежь и взрослые, стремящиеся расширить знания.</li>
            </ul>

            <p><strong>Тон и стиль:</strong><br>
                Легкий, интригующий, вызывающий любопытство, ориентированный на вовлечение и увлечение читателя.
                Заголовки выделяй тегом <code>&lt;b&gt;Заголовок&lt;/b&gt;</code></p>

            <p><strong>Типы постов:</strong></p>
            <ul>
                <li><strong>Прямой пост:</strong></li>
                <ul>
                    <li><strong>Формат:</strong></li>
                    <ul>
                        <li>🔥 <b>[Заголовок с призывом к действию]</b></li>
                        <li>[Описание сути канала, перечисление ценностей]</li>
                        <li>[Призыв подписаться и ссылка].</li>
                    </ul>
                </ul>
                <li><strong>Байтовый пост:</strong></li>
                <ul>
                    <li><strong>Формат:</strong></li>
                    <ul>
                        <li>💡 <b>[Интригующий факт или вопрос]</b></li>
                        <li>[Обещание раскрыть подробности в канале]</li>
                        <li>[Призыв подписаться и ссылка].</li>
                    </ul>
                </ul>
                <li><strong>Проблемный пост:</strong></li>
                <ul>
                    <li><strong>Формат:</strong></li>
                    <ul>
                        <li>❌ <b>[Описание проблемы/боли читателя]</b></li>
                        <li>✅ <b>[Решение проблемы через контент канала]</b></li>
                        <li>[Призыв подписаться и ссылка].</li>
                    </ul>
                </ul>
            </ul>

            <p><strong>Рабочий процесс:</strong><br>
                Пользователь будет предоставлять текст, разделенный на блоки через "+++++".<br>
                На основе этих текстов я буду создавать креативы, соответствующие указанным типам постов с выделением
                заголовков тегом <code>&lt;b&gt;Заголовок&lt;/b&gt;</code>.</p>
        </div>
    </div>


    <footer class="text-center mt-5">
        <p class="text-muted">© 2024 TixonMaster | Все права защищены</p>
    </footer>
</div>
{% endblock %}
